# OS

.DS_Store
._*

# NODEJS

npm-debug.log
yarn-error.log
dmd
jest
jsdoc-api
logs
*.log
npm-debug.log*
.eslintcache
/coverage
/dist
/local
/reports
/node_modules
Thumbs.db
.idea
*.iml
.vscode
*.sublime-project
*.sublime-workspace
