logs
*.log
npm-debug.log
yarn-error.log
npm-debug.log*
.eslintcache

dmd
jest
jsdoc-api

/coverage
/dist
/local
/reports
/node_modules

.DS_Store
._*
Thumbs.db
.idea
*.iml
.vscode
*.sublime-project
*.sublime-workspace
